In [29]:
import numpy as np
import pandas as pd
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import log_loss

# Load the Dataset and Clean

In [30]:
def load_data(file_name):
    data = pd.read_csv(file_name)
    return data

def clean_data(data):
    data['Sex'] = data.apply(lambda row: 1 if row.Sex == 'male' else 0, axis=1)
    data['Cabin'] = data.apply(clean_cabin, axis=1)
    data = data.dropna()
    return data

def clean_cabin(row):
    if "A" in row.Cabin:
        return 1
    return 0

train = clean_data(load_data('data/train.csv'))
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",1,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",0,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",0,58.0,0,0,113783,26.5500,C103,S

# Split into Train and Test

In [31]:
X = train[['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Sex']]
y = train[['Survived']]

In [32]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [33]:
X_train, y_train

(     Pclass   Age  SibSp  Parch      Fare  Sex
 862       1  48.0      0      0   25.9292    0
 438       1  64.0      1      4  263.0000    1
 291       1  19.0      1      0   91.0792    0
 435       1  14.0      1      2  120.0000    0
 193       2   3.0      1      1   26.0000    1
 ..      ...   ...    ...    ...       ...  ...
 445       1   4.0      0      2   81.8583    1
 88        1  23.0      3      2  263.0000    0
 782       1  29.0      0      0   30.0000    1
 872       1  33.0      0      0    5.0000    1
 257       1  30.0      0      0   86.5000    0

 [137 rows x 6 columns],
      Survived
 862         1
 438         0
 291         1
 435         1
 193         1
 ..        ...
 445         1
 88          1
 782         0
 872         0
 257         1

 [137 rows x 1 columns])

# Train Linear Regression model

In [34]:
model = linear_model.LinearRegression()
model.fit(X_train, y_train)
test_loss = log_loss(y_test, model.predict(X_test))
train_loss = log_loss(y_train, model.predict(X_train))
'test_loss={} train_loss={}'.format(test_loss, train_loss)

'test_loss=0.45037246418749116 train_loss=0.6665298870624607'